@use 'var';

.curiosidades {
    background-color: var.$corDeFundoBody2;
    padding: 24px;
    padding-bottom: 80px;

        
    

    .container {
        display: block;
    }

    &__title {
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__conteudo {
        display: flex;
        align-items: space-between;
        
        @media (max-width: 768px) {
            display: block;
            padding: 24px;
            padding-bottom: 0;

            img {
                width: 100%;
            }
        }

            &__texto {
                padding: 64px 64px 0 0;

                @media (max-width: 768px) {
                    padding: 64px 0 0 0;
                }
                
                
                &--ultimo {
                    margin-top: 16px;
                }
            }

            &__button {
                background-color: var.$corDeFundoHead;
                color: var.$corDoTextoHead;
                padding: 8px;
                margin-top: 24px;
                border-radius: 8px;
                
                    &:hover {
                        color: var.$corDoTextoHover;
                    }
            }
    }
}