@use 'var';

.trailer{
    
    padding-top: 64px;
    padding-bottom: 104px;
    background-color: var.$corDeFundoBody2;

    &__title{
        padding: 24px;
        padding-bottom: 32px;
    }

    .container {
        display: block;
        text-align: center;
        
    }

    .full-width {
        width: 100%;
        height: 470px;
        border-radius: 8px;
    }

}