$corDeFundoHead: rgb(0, 13, 53);
$corDoTextoHead: #fff;
$corDoTextoBody: #000;
$corDoTitulo: rgb(0, 13, 53);
$corDeFundoBody2: rgba(0, 13, 53, 0.199);
$corDeFundoBody1: #fff;

$corDoTextoChar: rgb(56, 83, 172);

$corDoTextoHover: rgb(169, 185, 238);